@use "@styles/variables" as v;

.cases-info {
  &__wrapper {
    max-width: v.$wrapper;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    gap: 20px;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    flex: 4;
  }

  &__title {
    margin: 0 0 40px;
  }

  &__subtitle {
    font-size: v.$h6-size;
    margin: 0;
    color: v.$dark;
  }

  &__search {
    flex: 3;
  }

  &__desc {
    font-size: v.$h6-size;
    color: v.$dark-active;
    line-height: 1.5;
  }
}

.cases-content {
  &__wrapper {
    padding: 0 40px;
    max-width: v.$wrapper;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {
    height: 100%;
  }
}

@media screen and (max-width: v.$desktop) {
  .cases-info {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
      gap: 36px;
    }

    &__title {
      font-size: v.$h2-size;
      margin-bottom: 24px;
    }

    &__extra {
      align-items: flex-start;
      max-width: 100%;
      width: 100%;
      gap: 24px;
    }
  }
  .cases-content {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 16px;
    }
  }
}

@media screen and (max-width: v.$tablet) {
  .cases-content {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 16px;
    }
  }
}

@media screen and (max-width: v.$mobile) {
  .cases-info {
    &__wrapper {
      margin: 30px auto;
      padding: 0 15px;
      gap: 20px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: v.$h3-size;
    }

    &__subtitle {
      font-size: v.$body-large;
    }

    &__desc {
      font-size: v.$body-medium;
    }

    &__extra {
      max-width: 100%;
      gap: 20px;
    }
  }

  .cases-content {
    &__wrapper {
      padding: 0 15px;
    }

    &__list {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 10px;
    }
  }
}
