@use "@styles/variables" as v;
.profile-head,
.profile {
  &__wrapper {
    max-width: v.$wrapper;
    margin: 0 auto;
    padding: 20px 270px 0;
    position: relative;
  }

  &__images {
    position: relative;
  }

  &__cover {
    border-radius: 40px 40px 60px 60px;
    height: 280px;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
  }

  &__avatar {
    position: relative;
    background-color: v.$secondary;
    position: absolute;
    height: 240px;
    width: 240px;
    bottom: -120px;
    left: 70px;
    object-fit: cover;
    border-radius: 64px;
    overflow: hidden;
    box-shadow: v.$box-shadow;
  }

  &__content {
    padding: 0 70px;
  }

  &__actions {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-top: 26px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 78px;
  }

  &__personal {
    width: 100%;
  }

  &__titles {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__subtitles {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0 0;
  }

  &__name,
  &__title {
    font-size: v.$h3-size;
    font-weight: 500;
    margin: 0;
  }

  &__email {
    font-size: v.$h6-size;
    color: v.$dark;
    margin: 0;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__details-item {
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid v.$secondary-hover;
    align-items: center;
    max-width: 160px;
    width: 100%;
    font-size: v.$h6-size;
    gap: 20px;
    &:last-child {
      border: 0;
    }
  }

  &__detail-name {
    color: v.$dark;
    margin: 0;
  }
  &__detail-content {
    margin: 0;
  }
}

.profile {
  margin-top: 80px;

  &__history-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 1800px) {
  .profile-head,
  .profile {
    &__wrapper {
      padding: 20px 120px 0;
    }

    &__details {
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 1400px) {
  .profile-head,
  .profile {
    &__wrapper {
      padding: 20px 40px 0;
    }
  }
}

@media screen and (max-width: v.$desktop) {
  .profile-head {
    &__actions {
      width: 100%;
      align-items: flex-end;
    }

    &__avatar {
      height: 180px;
      width: 180px;
      bottom: -120px;
      left: 70px;
      overflow: hidden;
    }

    &__content {
      padding: 0;
    }

    &__personal {
      margin: 20px 0 0 20px;
    }

    &__details {
      margin: 20px 20px 0 0;
    }

    &__details-item {
      max-width: 140px;
    }

    &__detail-content {
      font-size: 0.9rem;
    }

    &__detail-name {
      font-size: 1.1rem;
    }

    &__info {
      margin-top: 20px;
    }

    &__personal {
      padding-top: 16px;
    }

    &__name {
      font-size: 1.4rem;
    }

    &__email {
      font-size: 1rem;
    }
  }

  .profile {
    margin-top: 20px;
  }
}

@media screen and (max-width: v.$tablet) {
  .profile-head {
    &__cover {
      height: 200px;
    }

    &__avatar {
      height: 140px;
      width: 140px;
      border-radius: 40px;
      object-fit: cover;
      left: 0;
    }

    &__actions {
      gap: 10px;
    }

    &__info {
      align-items: flex-start;
    }

    &__details-item {
      max-width: 120px;
      gap: 10px;
    }

    &__detail-content {
      font-size: 0.8rem;
    }

    &__detail-name {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: v.$mobile) {
  .profile-head {
    &__wrapper {
      padding: 10px;
    }

    &__actions {
      flex-direction: column;
    }

    &__info {
      flex-direction: column;
    }

    &__details {
      justify-content: start;
      margin-top: 16px;
    }

    &__avatar {
      height: 100px;
      width: 100px;
      border-radius: 20px;
    }
  }

  .profile__title {
    font-size: v.$h5-size;
  }
}
