@use "@/styles/variables" as v;

.header {
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: v.$header-height;
    max-width: v.$wrapper;
    margin: 0 auto;
  }

  &__start {
    display: flex;
    align-items: center;
    gap: 52px;
  }

  &__end {
    display: flex;
    align-items: center;
    gap: 16px;
    color: v.$primary;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;

    .header__menu-icon {
      display: block;
      width: 20px;
      height: 2px;
      background-color: v.$primary;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: v.$primary;
        left: 0;
      }

      &::before {
        top: -8px;
      }

      &::after {
        bottom: -8px;
      }
    }
  }

  &__mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    max-width: 200px;
    height: 100vh;
    background-color: white;
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;

    &--open {
      right: 0;
    }
  }

  &__mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__close-button {
    border: none;
    width: 2.25rem;
    cursor: pointer;
  }

  &__mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__mobile-nav-item {
    box-sizing: border-box;
    width: 100%;

    a {
      box-sizing: border-box;
      align-items: center;
      font-size: 1rem;
      justify-content: flex-start;
    }

    &:last-child {
      margin-top: 40px;
      border-top: 0.4px solid v.$primary;
      padding-top: 20px;
      width: fit-content;
    }
  }

  &__mobile-login-text {
    margin-left: 10px;
  }
}

@media screen and (max-width: v.$desktop) {
  .header {
    &__wrapper {
      padding: 0 40px;
    }

    &__start {
      gap: 30px;
    }
  }
}

@media screen and (max-width: v.$tablet) {
  .header {
    &__wrapper {
      padding: 0 40px;
      height: 72px;
    }

    &__start {
      gap: 20px;
    }
  }
}

@media screen and (max-width: calc(v.$tablet + 150px)) {
  .mobile-only {
    display: block;
  }

  .desktop-navigation,
  .desktop-end {
    display: none;
  }

  .header__mobile-menu-header {
    & .logo {
      transform: scale(0.8);
    }
  }

  .header {
    &__close-button {
      height: 2.25rem;
      padding: 0.85rem;
    }
    &__menu-button {
      display: block;
    }

    &__mobile-menu {
      display: block;
    }
  }
}

@media screen and (max-width: v.$mobile) {
  .header {
    &__wrapper {
      padding: 0 15px;
      height: 72px;
    }

    &__start {
      gap: 20px;
    }
  }
}
