@use "@styles/variables" as v;

.exercises {
  position: relative;
  border-radius: 40px 40px 0 0;
  background-color: v.$white;
  z-index: 1;
  padding: 40px;
  margin: -40px auto 0;
  max-width: v.$wrapper;
}

.exercises__wrapper {
  overflow: hidden;
}

.exercises__category {
  font-size: v.$h4-size;
  color: v.$dark;
}

.exercises__title {
  margin: 10px 0 40px;
}

.exercises__list {
  overflow-x: auto;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 480px);
  gap: 20px;
}

@media screen and (max-width: v.$large-desktop) {
  .exercises {
    border-radius: 32px 32px 0 0;
    padding: 24px 40px;
  }
  .exercises__category {
    font-size: v.$h5-size;
  }

  .exercises__title {
    font-size: 3rem;
  }

  .exercises__list {
    grid-template-columns: repeat(5, 480px);
    gap: 20px;
  }
}

@media screen and (max-width: v.$mobile) {
  .exercises {
    border-radius: 24px 24px 0 0;
    padding: 24px 15px;
  }
  .exercises__category {
    font-size: v.$h6-size;
  }

  .exercises__title {
    margin: 10px 0 30px;
    font-size: v.$h3-size;
  }

  .exercises__list {
    grid-template-columns: repeat(5, 360px);
    gap: 16px;
  }
}
