@use "@styles/variables" as v;

.agreement {
  &__wrapper {
    max-width: v.$wrapper;
    padding: 0 40px;
    margin: 20px auto;
  }

  &__name {
    font-size: v.$h3-size;
    text-align: center;
  }

  &__title {
    font-size: v.$h5-size;
    font-weight: 500;
    text-indent: 1.25cm;
  }

  &__text {
    font-size: v.$body-large;
    line-height: 1.5;
    text-indent: 1.25cm;
  }

  &__list {
    list-style: circle;
    padding-left: calc(1.25cm + 20px);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.agreement-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid v.$secondary-hover;
  background: v.$white;
  box-shadow: v.$box-shadow;

  &__row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid v.$secondary;

    &:last-child {
      border-bottom: none;
    }
  }

  &__cell {
    padding: 16px 20px;
    flex: 5;
    min-width: 200px;
    font-size: v.$body-large;
    line-height: 1.5;
    color: v.$black;

    &--header {
      flex: 2;
      font-weight: 500;
      background: v.$secondary-hover;
      color: v.$black;
      border-right: 1px solid v.$secondary-active;
    }
  }

  &__list {
    padding-left: 20px;
    margin: 0;

    li {
      margin-bottom: 6px;
      padding-left: 16px;
      position: relative;

      &:before {
        content: "•";
        position: absolute;
        left: 0;
        color: v.$primary;
        font-size: v.$body-large;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .agreement-table {
    &__row {
      flex-direction: column;
    }

    &__cell {
      flex-basis: 100%;
      border-right: none;
    }

    &__cell--header {
      border-bottom: 1px solid v.$secondary-active;
      background: v.$secondary;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
