@use "@styles/variables" as v;

.badge {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: v.$button-medium;
  font-weight: v.$font-medium;
  border-radius: 1000px;
  text-align: center;
  white-space: nowrap;

  &--small {
    font-size: v.$body-medium;
    padding: 0.65rem 0.8rem;
    line-height: 1;
  }

  &--big {
    padding: 1rem 1.25rem;
    font-size: v.$button-large;
  }
}
.badgeColor {
  &--default {
    background-color: v.$light;
    color: v.$primary;
    border: 1px solid v.$light-active;
  }

  &--danger {
    background-color: v.$error-bg;
    border-color: v.$error-fill;
    color: v.$error-text;
  }
}

@media screen and (max-width: v.$mobile) {
  .badge {
    display: inline-block;
    padding: 0.85rem 1.125rem;
    font-size: 0.85rem;
    font-weight: v.$font-medium;
    border-radius: 1000px;
    text-align: center;
    white-space: nowrap;

    &--small {
      font-size: v.$body-small;
      padding: 0.5rem 0.7rem;
    }

    &--middle {
      font-size: v.$body-medium;
      padding: 0.575rem 1rem;
    }
  }
  .badgeColor {
    &--default {
      background-color: v.$light;
      color: v.$primary;
      border: 1px solid v.$light-active;
    }

    &--danger {
      background-color: v.$error-bg;
      border-color: v.$error-fill;
      color: v.$error-text;
    }
  }
}
