@use "@styles/variables" as v;

.case {
  &__wrapper {
    max-width: 680px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 40px 0 24px;
    text-align: center;
    font-size: 2.625rem;
    letter-spacing: -0.01rem;
  }

  &__image {
    margin: 40px 0 20px;
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    object-position: top;
  }

  &__text {
    margin: 16px 0;
    line-height: 1.5;
    font-size: v.$h6-size;
  }

  &__book {
    font-size: 54px;
  }

  &__paragraph {
    &:first-child {
      &::first-letter {
        font-size: 3.125rem;
        float: left;
        font-weight: 500;
        margin-right: 0.6rem;
        line-height: 1;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
    }
  }
}
