@use "@styles/variables" as v;

.logo {
  display: flex;
  gap: 12px;
  align-items: center;

  &__icon {
    height: 22px;
    & svg {
      height: 22px;
      width: 22px;
    }
  }
}

@media screen and (max-width: v.$tablet) {
  .logo {
    transform: scale(0.9);
  }
}

@media screen and (max-width: v.$mobile) {
  .logo {
    transform: scale(0.8) translateX(-19px);
  }
}
