@use "@styles/variables" as v;

.slider {
  flex: 1;
  height: 100%;
  position: relative;
  border-radius: 40px;
  overflow: hidden;

  &__box {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: -1;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    font-size: v.$h3-size;
    color: v.$white;
    bottom: 100px;

    margin: 0 auto;
    text-align: center;
    width: 60%;
    left: 0;
    right: 0;
    z-index: 4;
  }

  &__indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    gap: 16px;
  }

  &__progress-bar-fill {
    height: 100%;
    background-color: v.$white;
  }

  &__progress-bar-background {
    width: 54px;
    height: 6px;
    background-color: v.$dark;
    border-radius: 4px;
    overflow: hidden;
  }
}
