@use "@styles/variables" as v;
.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;

  &__button {
    &--prev {
      margin-right: auto;
    }

    &--next {
      margin-left: auto;
    }
  }

  &__info {
    font-size: v.$h6-size;
  }
}

.select {
  padding: 0.8rem 1.2rem;
  border: none;
  background-color: v.$secondary;
  font-size: v.$h6-size;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  outline: 2px;
  margin: 10px auto 0;
  &:hover {
    background-color: v.$secondary-hover;
  }
}
