@use "@styles/variables" as v;
.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;

  &__button {
    &--prev {
      margin-right: auto;
    }

    &--next {
      margin-left: auto;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__pages {
    display: flex;
    gap: 4px;
    list-style: none;
  }

  &__info {
    font-size: v.$h6-size;
  }

  &__page-button {
    width: 52px;
    height: 52px;

    &--active {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:hover {
      background: #e0e0e0;
    }
  }
}
