@use "@styles/variables" as v;
.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;

  &__button {
    width: 46px;
    height: 46px;

    &--prev {
      margin-right: auto;
    }

    &--next {
      margin-left: auto;
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__pages {
    display: flex;
    gap: 6px;
    list-style: none;
  }

  &__info {
    font-size: v.$h6-size;
  }

  &__page-button {
    width: 46px;
    height: 46px;
    border: 1px solid v.$secondary-hover;

    &--active {
      opacity: 0.6;
      cursor: not-allowed;
      border: 1px solid v.$light-hover;
    }

    &:hover {
      background: v.$secondary-hover;
    }
  }
}
