@use "@styles/variables" as v;

.case-card {
  box-sizing: border-box;
  position: relative;
  // max-width: 600px;
  color: v.$black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image {
    height: 500px;
    object-fit: cover;
    border-radius: 36px;
  }

  &__info {
    padding: 26px 0 20px;
  }

  &__title {
    font-size: v.$h4-size;
    margin: 20px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__description {
    font-size: v.$body-large;
    margin: 0 0 20px;
    line-height: 1.5;
    color: v.$dark-active;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
