@use "@styles/variables" as v;

.surveys-info {
  &__wrapper {
    max-width: v.$wrapper;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    gap: 20vw;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    margin: 0 0 40px;
  }

  &__subtitle {
    font-size: v.$h6-size;
    margin: 0;
    color: v.$dark;
  }

  &__search {
    flex: 1;
  }

  &__desc {
    font-size: v.$h6-size;
    color: v.$dark-active;
    line-height: 1.5;
  }
}

.surveys-content {
  &__wrapper {
    padding: 0 40px;
    max-width: v.$wrapper;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: 320px;
    gap: 20px;
  }

  &__list:has(.survey-card--big) {
    grid-template-rows: 380px 320px;
  }

  &__item {
    &:has(.survey-card--big) {
      grid-column: span 2;
      grid-row: span 2;
    }

    &:has(.survey-card--middle) {
      grid-column: span 2;
      grid-row: span 1;
    }
  }
}
