@use "@/styles/variables" as v;

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 40px 0;
  margin: 0 auto;
  max-width: v.$wrapper;
}

.footer__base {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: start;
}

.footer__contact {
  max-width: 520px;
}

.footer__title {
  margin: 0 0 40px;
}

.footer__desc {
  margin: 0 0 40px;
  line-height: 1.5;
}

.footer__comment {
  margin: 10px 0 0;
  font-size: v.$body-small;
}

.footer__form {
  display: flex;
  gap: 20px;
}

.footer__map {
  display: flex;
  gap: clamp(50px, 10vw, 190px);
}

.footer__nav-title {
  font-size: v.$h4-size;
  margin: 0 0 40px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer__link {
  text-decoration: none;
  background-color: transparent;
}

.footer__extra {
  margin-top: 56px;
  padding: 45px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.6px solid v.$dark;
}

.footer__social {
  display: flex;
  gap: 20px;
  flex: 1;
  align-items: center;
}

.footer__docs {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
  flex: 1;
  text-align: right;
  padding: 0 0 0 40px;
}

@media screen and (max-width: 1100px) {
  .footer__base {
    flex-direction: column;
    align-items: center;
  }

  .footer__contact {
    max-width: 100%;
    padding: 0 140px;
    width: 100%;
    box-sizing: border-box;
  }

  .footer__desc {
    max-width: 600px;
  }

  .footer__map {
    box-sizing: border-box;
    padding: 0 140px;
    width: 100%;
  }

  .footer__form {
    max-width: 600px;
  }
}

@media screen and (max-width: v.$desktop) {
  .footer__title {
    margin: 0 0 40px;
    font-size: 2rem;
  }

  .footer__desc {
    font-size: 1rem;
  }

  .footer__contact {
    max-width: 100%;
    padding: 0 80px;
  }

  .footer__nav-link {
    font-size: 9rem;
  }

  .footer__extra {
    gap: 32px;
  }

  .footer__map {
    padding: 0 80px;
  }
}

@media screen and (max-width: v.$tablet) {
  .footer__title {
    margin: 0 0 20px;
    font-size: 1.6rem;
  }

  .footer__desc {
    font-size: 0.9rem;
    margin-bottom: 20px;
    max-width: 480px;
  }

  .footer__contact {
    max-width: 100%;
    padding: 0;
    width: 100%;
  }

  .footer__nav-title {
    font-size: 1.4rem;
  }

  .footer__form {
    max-width: 480px;
  }

  .footer__map {
    width: 100%;
    padding: 0;
  }

  .footer__extra {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .footer__docs {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: v.$mobile) {
  .footer__wrapper {
    padding: 60px 15px 0;
  }

  .footer__nav-title {
    margin: 0 0 16px;
    font-size: 1.4rem;
  }

  .footer__nav-list {
    gap: 8px;
  }

  .footer__base {
    gap: 36px;
  }

  .footer__extra {
    margin-top: 24px;
    gap: 24px;
    & .link .logo {
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 440px) {
  .footer__map {
    flex-direction: column;
    gap: 20px;
  }

  .footer__form {
    flex-direction: column;
    gap: 10px;
  }
}
