@use "@/styles/variables" as v;
// @use "./src/styles/mixins" as m;

.input {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: v.$border-input-radius;
  outline: none;
  border: 1px solid transparent;
  background-color: v.$secondary;
  transition: v.$transition;
  height: 64px;

  max-height: 4rem;
  padding: 1.25rem 1.5rem;
  font-size: v.$h6-size;
  font-weight: v.$font-regular;

  &:hover:not(.button--disabled) {
    border-color: v.$primary;
  }

  &:active:not(.button--disabled) {
    border-color: v.$primary-active;
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--full-width {
    width: 100%;
  }
}
