@use "@/styles/variables" as v;
// @use "./src/styles/mixins" as m;

.input {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: v.$border-input-radius;
  outline: none;
  border: 1px solid transparent;
  background-color: v.$secondary;
  transition: v.$transition;
  height: 64px;
  max-height: 4rem;
  padding: 1.25rem 1.5rem;
  font-size: v.$h6-size;
  font-weight: v.$font-regular;

  &:hover:not(.button--disabled) {
    background-color: v.$secondary-hover;
  }

  &:active:not(.button--disabled),
  &:focus:not(.button--disabled) {
    border-color: v.$primary;
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--full-width {
    width: 100%;
  }
}

input[type="file"] {
  cursor: pointer;
  background: none;
  height: 100%;
  max-height: 100%;
  font-size: 1rem;
  padding: 0;
  border-radius: 10px;
  &:hover:not(.button--disabled) {
    background-color: transparent;
  }
}

input[type="file"]::file-selector-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: v.$font-medium;
  border-radius: v.$border-radius;
  cursor: pointer;
  border: none;
  transition: v.$transition;
  font-weight: 400;
  padding: 0 0.85rem;
  height: 3.25rem;
  font-size: v.$button-large;
  border-radius: 10px;
  background-color: v.$primary;
  color: white;
  margin-right: 20px;
}

input[type="file"]::file-selector-button:hover {
  background: v.$primary-hover;
}

@media screen and (max-width: v.$tablet) {
  .input {
    height: 3.5rem;
    max-height: 4rem;
    padding: 1.125rem 1.25rem;
    font-size: 1rem;

    &--large {
      height: 3.5rem;
      font-size: 1rem;
      max-width: 130px;
    }
  }
}
