@use "@styles/variables" as v;

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: v.$h6-size;
  user-select: none;

  &__box {
    width: 38px;
    height: 38px;
    border: 1px solid transparent;
    background-color: v.$secondary;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s, border-color 0.2s;
    margin-right: 20px;
  }

  &__box:hover {
    background-color: v.$secondary-hover;
  }

  input:focus + &__box {
    border-color: v.$primary;
  }

  &__label {
    font-size: v.$h6-size;
    color: v.$black;
    max-width: calc(100% - 40px - 20px);
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media screen and (max-width: v.$large-desktop) {
  .checkbox {
    &__label {
      font-size: v.$body-large;
    }
  }
}

@media screen and (max-width: v.$mobile) {
  .checkbox {
    &__box {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
    &__label {
      font-size: v.$body-medium;
    }
  }
}

@media screen and (max-width: 400px) {
  .checkbox {
    &__box {
      margin-right: 8px;
    }
    &__label {
      font-size: v.$body-small;
    }
  }
}
