@use "@/styles/variables" as v;
// @use "./src/styles/mixins" as m;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: v.$font-medium;
  border-radius: v.$border-radius;
  cursor: pointer;
  border: none;
  outline: none;
  transition: v.$transition;
  padding: 0 0.85rem;
  height: 3.25rem;
  font-size: v.$button-large;

  &--primary {
    background-color: v.$primary;
    color: v.$white;

    &:hover:not(.button--disabled) {
      background-color: v.$primary-hover;
    }

    &:active:not(.button--disabled) {
      background-color: v.$primary-active;
    }
  }

  &--secondary {
    background-color: v.$secondary;
    color: v.$black;

    &:hover:not(.button--disabled) {
      background-color: v.$secondary-hover;
    }

    &:active:not(.button--disabled) {
      background-color: v.$secondary-active;
    }
  }

  &--light {
    background-color: v.$light;
    color: v.$primary;

    &:hover:not(.button--disabled) {
      background-color: v.$light-hover;
    }

    &:active:not(.button--disabled) {
      background-color: v.$light-active;
    }
  }

  &--rounded {
    border-radius: 10000px;
  }

  &--small {
    padding: 6px 12px;
    font-size: 0.875rem;
  }

  &--medium {
    padding: 8px 16px;
    font-size: v.$button-medium;
  }

  &--large {
    height: 4rem;
    font-size: v.$button-large;
  }

  &--full-width {
    width: 100%;
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
