@use "@styles/variables" as v;
// @use "./src/styles/mixins" as m;

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: v.$font-medium;
  border-radius: v.$border-radius;
  cursor: pointer;
  border: none;
  outline: none;
  transition: v.$transition;

  height: 52px;
  padding: 0 1.125rem;
  font-size: v.$button-large;

  &--primary {
    background-color: v.$primary;
    color: v.$white;

    &:hover:not(.link--disabled) {
      background-color: v.$primary-hover;
      color: v.$white;
    }

    &:active:not(.link--disabled) {
      background-color: v.$primary-active;
      color: v.$white;
    }
  }

  &--secondary {
    background-color: v.$secondary;
    color: v.$black;

    &:hover:not(.link--disabled) {
      background-color: v.$secondary-hover;
      color: v.$black;
    }

    &:active:not(.link--disabled) {
      background-color: v.$secondary-active;
      color: v.$black;
    }
  }

  &--light {
    background-color: v.$light;
    color: v.$primary;

    &:hover:not(.link--disabled) {
      background-color: v.$light-hover;
      color: v.$primary;
    }

    &:active:not(.link--disabled) {
      background-color: v.$light-active;
      color: v.$primary;
    }
  }

  &--transparent {
    background-color: transparent;
    color: v.$dark;

    &:hover:not(.link--disabled) {
      opacity: 0.95;
      color: v.$dark-hover;
    }

    &:active:not(.link--disabled) {
      opacity: 0.9;
      color: v.$dark-active;
    }
  }

  &--small {
    height: 50px;
  }

  &--rounded {
    border-radius: 10000px;
  }

  &--icon {
    height: auto;
    padding: 0.875rem;
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
